version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    build:
      context: ./back-end
      dockerfile: backend-dockerfile
    container_name: express_backend
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASS: ${EMAIL_PASS}
      SMTP_HOST: ${SMTP_HOST:-smtp.gmail.com}  
      SMTP_PORT: ${SMTP_PORT:-587}              
      NODE_ENV: development
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./back-end:/app
      - /app/node_modules

  # frontend:
  #   build:
  #     context: ./front-end
  #     dockerfile: fontend-dockerfile
  #   container_name: next_frontend
  #   restart: unless-stopped
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     NEXT_PUBLIC_API_URL: "http://localhost:4000"
  #   depends_on:
  #     - backend
  #   volumes:
  #     - ./front-end:/app
  #     - /app/node_modules

volumes:
  postgres_data: