node_modules          
.env                 
*.log                
.git                 
prisma/migrations/   
dist/                
*.tsbuildinfo        
.vscode/             
Dockerfile           
*.sqlite             
